build: false

environment:
    matrix:
        - PYTHON: "C:\\Python36-x64"
        - PYTHON: "C:\\Python37-x64"

init:
  - SET PATH=%PYTHON%;%PATH%

install:
    - python -m pip install -r requirements.txt

test_script:
    - python -m pytest
