language: python

python:
    - "3.6"


install:
    - pip install -r requirements.txt
    - pip install coveralls


# command to run tests
script:
    - pytest --cov coveralls

after_success: coveralls
